@keyframes gift-show {
    0% {
        display: block;
        top: 30px;
        opacity: 0;
    }
    100% {
        display: block;
        top: 0;
        opacity: 1;
    }
}

.gift-box {
    animation: gift-show 0.5s forwards;
    animation-delay: 0.5s;
    margin: 0 auto;
    opacity: 0;
    position: relative;
    width: 90%;
    max-width: 450px;
    max-height: 450px;
    z-index: 2;
}

.gift-box::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.gift-box > * {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
