@keyframes subtitle-show {
    0% {
        opacity: 0;
        padding-top: 32px;
    }
    100% {
        opacity: 1;
        padding-top: 1rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.subtitle {
    animation: subtitle-show 1s forwards;
    animation-delay: 2.5s;
    color: rgb(109,109,109);
    display: block;
    font-size: .8rem;
    padding: 1rem;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    transition: linear 0.3s;
    z-index: 1;
    height: calc(32px + 1rem);
}

.transparent {
    color: transparent;
    transition: linear 0.3s;
}