@keyframes title-show {
    0% {
        margin-top: -8rem;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.titles {
    font-family: "Optima nova LT";
    padding: 15px;
    text-transform: uppercase;
    z-index: 1;
    position: absolute;
    width: 100vw;
}

.title, .subtitle {
    display: block;
    animation: title-show 1s forwards;
    opacity: 0;
}

.title {
    animation-delay: 1s;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.subtitle {
    animation-delay: 2s;
    color: rgb(109,109,109);
    font-size: 1.5rem;
}
